@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 定义中文字体 */
@font-face {
  font-family: 'HanyiSentyPea';
  src: url('../../public/fonts/HanyiSentyPea.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 定义英文字体 */
@font-face {
  font-family: 'Hand';
  src: url('../../public/fonts/HANDM___.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* 使用手写字体 */
  font-family: 'HanyiSentyPea', 'Hand', Arial, Helvetica, sans-serif;
}
